@model TFSServicesDBLib.RunHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RunHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RuleRevision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RuleRevision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
                    @Html.TextAreaFor(model => model.Message, 40, 40, new { htmlAttributes = new { @readonly = "readonly" } })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rules.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rules.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
