@model TFSServicesDBLib.Rules

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rules</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TriggerScript)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.TriggerScript, 40, 100, new { @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessScript)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.ProcessScript, 40, 100, new { @readonly = true })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
