@model TFSServicesDBLib.Rules

@{
    ViewBag.Title = "Run";
}

<h2>Run</h2>

<h3>Are you sure you want to run this?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Run" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    <h4>Rule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TriggerScript)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.TriggerScript, 40, 100, new { @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcessScript)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.ProcessScript, 40, 100, new { @readonly = true })
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Run" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
